<div class="body_grey">
	<div id="head_LMR">
		<p class="p3">
			&nbsp;
		</p>
		<p class="p1">
			<a href="#" class="reback"></a>
		</p>
		<span>
			<img src="image/logo2.png" width="182" height="23">
		</span>
	</div>
	<div id="middle1">
		<form name="loginForm" method="post" ng-submit="doLogin()">
			<p class="text2">
				<img src="image/icon3.png" style="float:left; width:32px; height:35px;">
				<input type="text" name="account" placeholder="账户" class="blank1"
				ng-model="account" ng-required="true">
			</p>
			<p class="text2">
				<img src="image/icon4.png" style="float:left; width:32px; height:35px;">
				<input type="password" name="password" placeholder="密码" class="blank1"
				ng-model="password" ng-required="true">
			</p>

			<!--<p><input type="text" class="text1 w_195 text_password" value="密码：" >-->
			</p>
			<p >
				<button type="submit" href="#" class="login Yahei">
					登陆
				</button>
			</p>
		</form>
	</div>
</div>