<form ng-init="index=0" ng-show="index==0" class="searchbar" name="searchForm" ng-submit="doSearch()">
    <div class="searchbar-input">
        <input ng-blur="doSearch()" ng-model="keywords" type="search"
               placeholder="关键词：客户姓名、手机号、批次号"/>
    </div>
</form>
<div ng-show="index==0" class="page-content">
    <div class="list-block media-list">
        <ul>
            <li class="item-content">
                <div class="item-inner">
                    <div class="buttons-row">
                        <a ng-click="changeStatus(0)" ng-class="status == 0?'active':''" class="tab-link button">未处理</a>
                        <a ng-click="changeStatus(1)" ng-class="status == 1?'active':''" class="tab-link button">已处理</a>
                    </div>
                </div>
            </li>
            <li ng-show="ordersTotalPrice()" class="item-divider">
                总计收款金额：<span class="fa fa-yen">{{ordersTotalPrice()}}</span>
            </li>
            <li ng-repeat="order in orders">
                <a ng-click="showDetails(order)" class="item-link item-content">
                    <div class="item-inner">
                        <div ng-repeat-start="detail in order.orderDetail" class="item-title-row">
                            <div class="item-title">
                                {{order.customer}}
                            </div>
                            <div class="item-after">
                                <span>合计： <span class="fa fa-yen">{{totalPrice(order)}}</span></span>
                            </div>
                        </div>
                        <div class="item-subtitle">
                            {{order.mobilephone}}
                        </div>
                        <div ng-repeat-end class="item-text">
                            {{$index + 1}}.<strong>{{detail.productname}}</strong>
                            <em> 单价：</em><strong><span class="fa fa-yen">{{detail.productprice}}</span></strong>
                            <em ng-show="detail.freight"> 运费：</em><strong ng-show="detail.freight"><span
                                class="fa fa-yen">{{detail.freight}}</span></strong>
                            <em> 数量：</em><strong>{{detail.count}}</strong>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="page-content" ng-show="index==1" style="margin-top: -35px">
    <form name="orderDealForm" class="list-block" method="post" ng-submit="orderDealSubmit()">
        <ul>
            <li class="item-divider">
                <small>订单号:
                    {{currentOrder.id}}
                </small>
            </li>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label">
                        <span class="fa fa-user-md"></span> {{currentOrder.customer}}
                    </div>
                    <div class="item-after">
                        <span class="fa fa-mobile-phone"> {{currentOrder.mobilephone}}</span>
                    </div>
                </div>
            </li>

            <li class="item-content" ng-repeat-start="item in currentOrder.orderDetail">
                <div class="item-inner">
                    <div class="item-title label">
                        商品：
                    </div>
                    <div class="item-input">
                        {{item.productname}}
                    </div>
                </div>
            </li>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label">
                        单价：
                    </div>
                    <div class="item-input">
                        <input ng-disabled="currentOrder.status==1" type="number" name="productprice"
                               ng-model="item.productprice"
                               ng-required="true"/>
                    </div>
                </div>
            </li>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label">
                        运费：
                    </div>
                    <div class="item-input">
                        <input ng-disabled="currentOrder.status==1" type="number" name="freight"
                               ng-model="item.freight"
                               ng-required="true"/>
                    </div>
                </div>
            </li>
            <li class="item-content" ng-repeat-end>
                <div class="item-inner">
                    <div class="item-title label">
                        数量：
                    </div>
                    <div class="item-input">
                        <input ng-disabled="currentOrder.status==1" type="number" name="count"
                               ng-model="item.count"
                               ng-required="true"/>
                    </div>
                </div>
            </li>
            <li class="item-content align-top">
                <div class="item-inner">
                    <div class="item-title label">
                        备注：
                    </div>
                    <div class="item-input align-top">
                        <textarea ng-disabled="currentOrder.status==1" name="memo"
                                  ng-model="currentOrder.memo"></textarea>
                    </div>
                </div>
            </li>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label">
                        创建日期：
                    </div>
                    <div class="item-after">
                        {{currentOrder.createdate.time | amDateFormat:'YYYY MMMM Do dddd'}}
                    </div>
                </div>
            </li>
            <li class="item-content" ng-show="currentOrder.status==1">
                <div class="item-inner">
                    <div class="item-title label">
                        处理日期：
                    </div>
                    <div class="item-after">
                        {{currentOrder.tradedate.time | amDateFormat:'YYYY MMMM Do dddd'}}
                    </div>
                </div>
            </li>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label">
                        合计：
                    </div>
                    <div class="item-after">
                                <span class="fa fa-yen">
                                    {{totalPrice(currentOrder)}}
                                </span>
                    </div>
                </div>
            </li>
            <li ng-show="currentOrder.status==0" class="item-content">
                <div class="item-inner">
                    <input type="submit" class="button button-submit button-big" value="确定"/>
                </div>
            </li>
        </ul>
    </form>
</div>
